language: node_js
node_js:
- '10'
- '8'
- '6'
install:
- npm install
script:
- npm run test
# - npm run lint
after_success:
- npm install -g codecov
- codecov
deploy:
  provider: npm
  email: kei.itof@gmail.com
  api_key:
    secure: OvHYC747yEjsQU1LYGTjezTxawZ47Skv/v4hduJ0gaL8tI1UFsSMAhVeMMhOdCJJG/65SgnnShflcb1q9KgdHuCNfOojGpKfkBVmqLaxWQ8UjhOt22H2lKby+8rVCYif9Ghx97qAD/AvfZKrQzUq5ww85lt/JwQwkyqojxiA7Sq6neHStrHGeuGiD15+h/LlruYaBVN44z6lhL8bZm1OsApPTphUGrnkdp0+LkqVf21kTZjuGmzK6c0emuEonri+u2ROrMBoyGtlggxBPMplDwTEaJBfV1A6HNX6bn7zfU2VFL5uCfvhKo1fo6r0WUY+FyVhvnkWD4YYY6XCqU3WZ0ntJlBaerTEjNqIGo83wwcTyJ3LpcXq3JwWj2ItVkIIiVOprRvseKxyMdSrDKWYOuV2FT4Fa1lAxHSSn/Nt6ZgyT51/jvr77hVmf5ualagkq1he7WqEe/iwSWlmeCeAsZhgcgWOcxNMVUE8VkiAZ51zkGDL3hG4VH1mEvaMDotlgOxv0LAJa0XwySO+bJDmP4vBny6hwxGZSlBzxg8ldS4Q3ZZvqqMI8IGbq6HhPDfwFqakDhtHi36m/t//Yj5g2selNK6mbKSpH+r5AzArUrqpFI9zKLUK+WGugcY65OjoT7LwpEqwmLh+P6k2rM7R48Ai0+qVvx1K7QfiDcNnI5s=
  on:
    tags: true
    repo: kei-ito/hexo-deployer-aws-s3
